*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: 'PT Sans', sans-serif;
	background-color: #F6F6F6;
}

.header{
	margin-top: 5vh;
	align-items: center;
	border-bottom: 2px solid #BCBCBC;
	border-top: 2px solid #BCBCBC;
}

nav {
	padding-top: 1vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
}

nav{
	width: 90%;
	margin: auto;
}

nav img{
	padding-left: 5vh;
	padding-right: 5vh;
	width: 20vh;
	flex: 1;
}

.nav-links{
	text-align: right;
	padding-right: 2vh;
	padding-bottom: 1vh;
}

.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}

.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #0984e3;
	display: block;
	margin: auto;
	transition: 0.5s;
}

.nav-links ul li:hover::after{
	width: 100%;
}

.nav-links ul li a{
	text-decoration: none;
	font-size: 3vh;
	color: black;
}

.nama-laptop{
	padding-top: 3vh;
	position: relative;
	width: 95%;
	margin: auto;
	color: #0096D6;
}

.product-header{
	flex: 3;
	display:flex;
	align-items:center;
	width: 95%;
	margin: auto;
	min-height: 100vh;
}

.product-desc{
	flex: 1;
}

.product-desc h1{ 
	font-size: 8vh;
	color: #0096D6;
	background: linear-gradient(to right, #0096D6, #67E4F5);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.product-desc p{
	margin-top: 2vh;
	font-size: 3.5vh;
	
}

.product-btn{
	padding: 30px 0 0 0;
}

.product-img img{
	width: 70vh;
	filter: drop-shadow(0px 4px 6px black);
}

.btn-select{
	border: 2px solid #0096D6;
	background: #0096D6;
	color: white;
	width: 150px;
	height: 50px;
	cursor: pointer;
	font-family: 'PT Sans', sans-serif;
	font-size: 15px;
}

.btn-buy{
	border: 2px solid #0096D6;
	background: transparent;
	color: #0096D6;
	width: 150px;
	height: 50px;
	cursor: pointer;
	font-family: 'PT Sans', sans-serif;
	font-size: 15px;
	margin-left: 3vh;
}

@media screen and (max-width: 800px){
	.product-header{
		flex-direction: column;
		padding-bottom: 8vh;
		
	}
	
	.product-img img{
		width: 70vh;
	}
	
	.product-img{
		order: 1;
	}
	
	.product-desc{
		order: 2;
		text-align: center;
	}
	
	.product-desc h1{
		font-size: 6vh;
	}
	
	.product-desc p{
		font-size: 3vh;
	}
}

.product-tech{
	background-color: #C7C8CA;
	min-height: 80vh;
}

.tech-header{
	padding: 5vh 0 5vh 0;
	text-align: center;
}

.tech-column{
	width: 95%;
	margin: auto;
}

.tech-column ul li{
	list-style: none;
	display: inline-block;
	width: 33%;
}

.tech-column ul li img{
	width: 40vh;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

.tech-column ul li h1{
	padding: 3vh 0 3vh 0;
	text-align: center;
}

.tech-column ul li p{
	padding-bottom: 5vh;
}

.tech-column ul li a{
	text-decoration: none;
	font-weight: bold;
	color: black;
	border: 2px solid black;
	padding: 1vh 2vh;
	transition: all 0.5s ease 0s;
}

.tech-column ul li a:hover{
	color: white;
	background-color:black;
}

@media screen and (max-width: 800px){
	
	.tech-column ul li{
		display: block;
		width: 100%;
		padding-bottom: 10vh;
		text-align: center;
	}
	
	.product-tech{
		min-height: 150vh;
	}
}

.table-product{
	padding-top: 5vh;
	padding-bottom: 7vh;
	width: 95%;
	margin: auto;
}

.table-product h1{
	text-align: center;
	color: #0096D6;
	font-size: 7vh;
	padding-bottom: 3vh;
}

.table-hardware, th, td {
	border: 2px solid black;
	border-collapse: collapse;
}

th, td{
	padding: 15px 10px 15px 10px;
	font-size: 2.5vh;	
}

.table-software, th, td{
	border: 2px solid black;
	border-collapse: collapse;
}

.table-software{
	width: 100%;
}

.table-product .software-header{
	padding-top: 3vh;
}

footer{
	min-height: 7vh;
	background-color: #0096D6;
	position: relative;
	align-items: center;
}

.closing-text p {
	width: 100%;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 3vh;
	padding-top: 1.5vh;
}

@media screen and (max-width: 800px){
	.table-product h1{
		font-size: 5vh;
	}
}


